<div class="container-fluid d-flex align-items-center justify-content-center pb-5">
  <div class="row col-6 justify-content-center">
    <h1 class="text-center text-primary py-5 letter_title">Sign up</h1>

    <div class="yellow-box container align-items-center-flex flex-column shadow px-5 py-5">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs d-flex flex-column gap-3">
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" }%>
          <%= f.input :user_name,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "user_name" }%>
          <%= f.input :full_name,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "full_name" }%>
          <%= f.input :password,
                      required: true,
                      hint_html: { class: 'fs-6 opacity-50 text-secondary' },
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" } %>
        </div>

        <div class="form-actions text-center">
          <%= f.button :submit, 'Sign up', class: "btn btn-main" %>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>
