<div class="bg-bisque" style="min-height: 100vh">
  <div class="container-fluid py-5">
    <div class="row justify-content-center">
      <div class="card col-8 shadow p-4">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center my-4">
                <h1 class="mb-0">This is the info about the user you're looking for:</h1>
            </div>
            <hr>
            <div class="container">
                  <div class="d-flex">
                    <div class="row col-lo-6">
                      <%# <% if @user.photo.present? %>
                        <%# <%= cl_image_tag @user.photo.key, height: 400, crop: :fill %>
                        <%# <% else %>
                        <%# <%= image_tag "logo.png", height: 400 %>
                        <%# <% end %>
                      </div>
                      <ul class="list-group list-group-flush mb-4">
                          <li class="list-group-item">Username: <%=@user.user_name %></li>
                          <li class="list-group-item">Full Name: <%=@user.full_name %></li>
                          <li class="list-group-item">Receiving Day: <%= @user.receiving_day %></li>
                      </ul>
                    </div>
                  </div>
                    <div class="row d-flex">
                      <div class="card-body">
                        <% if @friendship %>
                          <% if @friendship.accepted? %>
                            <%= link_to "Remove eConnection", delete_friendship_user_path(@user),
                              class: "btn-main", data: { turbo_method: :delete,  turbo_confirm: 'Are you sure?'  } %>
                          <% elsif @friendship.sent? %>
                            <%= link_to "Waiting", "#", class: "btn-main" %>
                          <% elsif @friendship.rejected? %>
                            <%= link_to "eConnect with this user", request_friendship_user_path(@user),
                              class: "btn-main", data: { turbo_method: :post } %>
                          <% end %>
                        <% else %>
                          <%= form_for :friendship, url: request_friendship_user_path(@user) do |f| %>
                            <div class="row justify-content-center">
                            <%= @user.comkey%>
                            <div class="col-5">
                              <%= f.text_field :comkey, autocomplete: :off, class: 'form-control', placeholder: "Type password blablab" %>
                            </div>
                            <div class="pt-3">
                              <%= f.submit 'eConnect with this user', class: 'btn-main' %>
                              <%= link_to "Go back", dashboard_path(@user), class: "btn-secondary"%>
                            </div>
                          <% end %>
                        <% end %>
                      </div>
                    </div>
            </div>
        </div>
      </div>
    </div>
  </div>
 </div>
