<div class="body-color" style="min-height: calc(100dvh - 92px);">
<div class="container-fluid">
<div class="row body-color">
  <div class="col-6 bg-#fff3c9 mt-5">
    <div class="col justify-content-center">
      <h1 class="mb-3 letter_title text-center pb-3">Friends requests</h1>
      <div class="card shadow p-5 letter-bg">
        <% @received_friends.each do |friend|  %>
          <li><%= friend.full_name %> - <%= friend.user_name %>
            <%= link_to "Accept", accept_friendship_user_path(friend), data: { turbo_method: :patch } %>
            <%= link_to 'Reject', delete_friendship_user_path(friend), data: { turbo_method: :delete } %>
          </li>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-6 mt-5">
    <div class="col justify-content-center">
      <h1 class="mb-3 letter_title text-center pb-3">Friend's list</h1>
        <div class="card shadow p-5 letter-bg">
          <% @friends.each do |friend|  %>
            <li><%= friend.full_name %> - <%= friend.user_name %>
              <%= link_to 'Remove', delete_friendship_user_path(friend), data: { turbo_method: :delete } %>
            </li>
          <% end  %>
        </div>
    </div>
  </div>
</div>
</div>
</div>
