<h1 class="letter_title py-5 text-center">What would you like to do ?</h1>

<div class="container">
  <div class="row">
    <div class="col-4">
      <%= link_to new_letter_path, class: 'mx-2 d-block text-decoration-none home-card card-animated' do %>
        <div class="rounded-4 shadow">
          <div class="rounded-top-4 align-items-center card-min-height d-flex justify-content-center">
            <%= image_tag "lettersend-new.png", height: 200, width: 200 %>
          </div>

          <div class="card-btn text-bg-primary text-white rounded-bottom-4 p-3 text-center">
            Send a letter
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-4">
      <%= link_to inbox_path, class: 'mx-2 d-block text-decoration-none home-card card-animated' do %>
        <div class="rounded-4 shadow">
          <div class="rounded-top-4 align-items-center card-min-height d-flex justify-content-center">
            <%= image_tag "letterbox-new.png", height: 200, width: 200 %>
          </div>

          <div class="card-btn text-bg-primary text-white rounded-bottom-4 p-3 text-center">
            Your letterbox
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-4">
      <%= link_to sent_path, class: 'mx-2 d-block text-decoration-none home-card card-animated' do %>
        <div class="rounded-4 shadow">
          <div class="rounded-top-4 align-items-center card-min-height d-flex justify-content-center">
            <%= image_tag "lettersent-new.png", height: 200, width: 200 %>
          </div>

          <div class="card-btn text-bg-primary text-white rounded-bottom-4 p-3 text-center">
            Letters sent
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
