<div class="container-fluid py-5">
 <div class="col-12 text-center">
        <h1 class="letter_title">What would you like to do?</h1>
      </div>
</div>

<div class="container">
<div class="row">

<div class="col-12 col-md-4 mb-5 mb-md-0">
<%= link_to new_letter_path(@letter), class: 'text-decoration-none text-dark' do %>
<div class="cardhome">
<div class="card-body">
<%= image_tag "https://img.icons8.com/?size=512&id=32555&format=png", height: 100, width: 100 %>
</div>
<div class="card-footer">
<span>Send Letter</span>
</div>
</div>
<% end %>
</div>

<div class="col-12 col-md-4 mb-5 mb-md-0">
<%= link_to inbox_path(@letter), class: 'text-decoration-none text-dark' do %>
<div class="cardhome">
<div class="card-body">
<%= image_tag "https://img.icons8.com/?size=512&id=38205&format=png", height: 100, width: 100 %>
</div>
<div class="card-footer">
<span>Letterbox</span>
</div>
</div>
<% end %>
</div>

<div class="col-12 col-md-4 mb-5 mb-md-0">
<%= link_to sent_path(@letter), class: 'text-decoration-none text-dark' do %>
<div class="cardhome">
<div class="card-body">
<%= image_tag "https://img.icons8.com/?size=512&id=37998&format=png", height: 100, width: 100 %>
</div>
<div class="card-footer">
<span>Letters Sent</span>
</div>
</div>
<% end %>
</div>

</div>
</div>
