<div class="bg-bisque" style="min-height: 100vh">
    <div class="container-fluid py-5 shadow">
      <div class="col-md-8 text-center">
        <h1><b>What would you like to do?<b></h1>
      </div>
          <div class="row justify-content-between">
              <div class="col-md-4">
                <%= link_to new_letter_path(@letter), class: 'text-decoration-none text-dark' do %>
                  <div class="card mb-4 shadow-sm">
                    <div class="card-body">

                      <%= image_tag "https://cdn-icons-png.flaticon.com/512/124/124053.png", height: 100, width: 100 %>
                      <h5 class="card-title">Send Letter</h5>
                    </div>
                  </div>
                <% end %>
              </div>
              <div class="col-md-4">
                <%= link_to inbox_path(@letter), class: 'text-decoration-none text-dark' do %>
                  <div class="card mb-4 shadow-sm">
                    <div class="card-body">

                      <%= image_tag "https://cdn-icons-png.flaticon.com/128/2766/2766476.png", height: 100, width: 100 %>
                      <h5 class="card-title">Letterbox</h5>
                    </div>
                  </div>
                <% end %>
              </div>
              <div class="col-md-4">
                <%= link_to sent_path(@letter), class: 'text-decoration-none text-dark' do %>
                  <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                      <%= image_tag "https://cdn-icons-png.flaticon.com/128/10804/10804962.png", height: 100, width: 100 %>
                      <h5 class="card-title">Letters Sent</h5>
                    </div>
                  </div>
                <% end %>
              </div>
          </div>
    </div>
</div>
