<div class="body-color">
<div class="container-fluid py-5">
 <div class="col-12 text-center">
        <h1 class="letter_title">What would you like to do ?</h1>
      </div>
</div>

<div class="container">
<div class="row">

<div class="col-12 col-md-4 mb-5 mb-md-0">
<%= link_to new_letter_path(@letter), class: 'text-decoration-none' do %>
<div class="cardhome">
<div class="card-body">
<%= image_tag "sendletter.png", height: 120, width: 120 %>
</div>
<div class="card-footer">
<span>Send a letter</span>
</div>
</div>
<% end %>
</div>

<div class="col-12 col-md-4 mb-5 mb-md-0">
<%= link_to inbox_path(@letter), class: 'text-decoration-none' do %>
<div class="cardhome">
<div class="card-body">
<%= image_tag "letterbox.png", height: 120, width: 100 %>
</div>
<div class="card-footer">
<span>Your letterbox</span>
</div>
</div>
<% end %>
</div>

<div class="col-12 col-md-4 mb-5 mb-md-0">
<%= link_to sent_path(@letter), class: 'text-decoration-none' do %>
<div class="cardhome">
<div class="card-body">
<%= image_tag "lettersent.png", height: 120, width: 150 %>
</div>
<div class="card-footer">
<span>Letters sent</span>
</div>
</div>
<% end %>
</div>

</div>
</div>
</div>
