<html>

  <div class="title">
    <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-10">
            <div class=title-ban><h1><b>Armando app, <br> the first messaging platform for kids </h1></b>
              <h2 style="color: #DAA520	; font: size 300px;"> Designed to create digital healthy habits <br> Teach your kids how to commuinicate in an engaging way</h2>
            </div>
          </div>
        </div>
      </div>
        <% if current_user %>
        <!-- User is logged in, so hide the button -->
        <!-- Add your logged-in user logic or redirect to appropriate page -->
        <% else %>
          <div class="btn-account">
            <%= link_to "Create an account", new_user_session_path, class: "btn-main" %>
          </div>
        <% end %>
  </div>

  <div class="benefit1" >
    <div class="d-flex align-items-center p-3">
      <%= image_tag "addiction.png", height: "75%" %>
    </div>
    <div class="d-flex align-items-center p-2">
      <h2 class="text-center">No addiction <br> Instead of receiving messages instantly, which can lead to addiction, your children will receive their messages at their chosen time</h2>
    </div>
  </div>

  <div class="benefit2">

      <div class="d-flex align-items-center p-2">
        <h2 class="text-center">Safe <br> Unlike other messaging and social media platforms, connections with your children are only possbile with your approval</h2>
      </div>
      <div class="d-flex align-items-center p-3">
       <%= image_tag "safe.png", height: "75%" %>
      </div>
  </div>


        <div class = "benefit3">
            <div class="d-flex align-items-center p-3">
              <%= image_tag "pub.png", height: "75%" %>
            </div>
          <div class="d-flex align-items-center p-2">
              <h2 class="text-center">Advertising free <br> Your children will be shielded from any advertising exposure, thereby ensuring their minds are protected from unsolicited content</h2>
          </div>
        </div>


        <div class = "benefit4">
          <div class="d-flex align-items-center p-3">
            <%= image_tag "logo.png", height: "65%" %>
          </div>
          <div class="d-flex-column align-items-center p-2">
            <h2 class="text-center"> How does it work ?</h2>
            <h2>1- Create an account</h2>
            <h2>2- Choose which day of the week to receive the letters</h2>
            <h2>3- Send a letter to your friends</h2>
            <div class="text-center p-4">
           <%= link_to "Create an account", new_user_session_path, class: "btn-main" %>
          </div>
        </div>

        </div>
  <div class="container-fluid benefit11">
    <div class="row">
        <div class="col-6">
          <%= image_tag "safe.png", height: 300, width: 300, class: "border-image" %>
        </div>
        <div class="col-6">
          <h2 class="text-start"><b>It's extremelly safe</b></h2>
          <h3>Unlike other messaging and social media platforms, connections with your children are only possbile with your approval.</h3>
        </div>
    </div>
  </div>

  <div class="container-fluid benefit12">
    <div class="row">
        <div class="col-6 align-items-center">
          <h2 class="text-start"><b>Designed to Avoid Addiction</b></h2>
          <h3>Instead of receiving messages instantly, which can lead to addiction, your children will receive their messages at their chosen time.</h3>
        </div>
        <div class="col-6">
          <%= image_tag "addiction.png", height: 300, width: 300, class: "border-image" %>
        </div>
    </div>
  </div>

    <div class="container-fluid benefit13">
    <div class="row">
        <div class="col-6">
          <%= image_tag "pub.png", height: 300, width: 300, class: "border-image" %>
        </div>
        <div class="col-6"><h2 class="text-start"><b>It's advertising free</b></h2>
          <h3>Your children will be shielded from any advertising exposure, thereby ensuring their minds are protected from unsolicited content.</h3>
        </div>
    </div>
  </div>

  <div class="container-fluid benefit13">
    <div class="row justify-content-center">
      <h2 class="text-center pb-5"><p><b>How does it work?</b></p></h2>
              <div class="col-6 align-items-center">
                <%= image_tag "addiction.png", height: 300, width: 300, class: "border-image" %>
              </div>
                  <div class="col-6 d-flex-column align-items-center p-2">
                    <h3><b>Step 1:</b> Create an account</h2>
                    <h3><b>Step 2:</b> Choose your avatar.</h2>
                    <h3><b>Step 3:</b> Choose when you want to receive your letters</h2>
                    <h3><b>Step 4:</b> Send your first letter!</h2>
                            <div class="p-4">
                              <%= link_to "Create an account", new_user_session_path, class: "btn-main" %>
                            </div>
                  </div>
    </div>
  </div>

   <div class="container-fluid benefit11">
    <div class="row justify-content-center">
        <div class="col-6 align-items-center">
            <%= image_tag "bird.png", height: 300, width: 300, class: "border-image" %>
          </div>
            <div class="col-6 d-flex-column align-items-center p-2">
              <h4><b>Help & Support</b></h4>
              <h5>Help & Contact Us</h5>
              <h5>FAQS</h5>
              <h5>Terms and Conditions</h5>
              <h5>Privacy Policy</h5>
              <h5>Cookies Policy</h5>
              <h5>Legal advice</h5>
            </div>
    </div>
  </div>


 </html>
