<div class="container-fluid">
  <div class="row justify-content-center">
    <h1 class="py-5 letter_title" style="text-align: center">My profile</h1>
    <div class="text-center" style="margin-top:-30px">
      <%= link_to :back, class: 'btn-main mb-5' do %>
        <i class="fa-solid fa-reply me-2"></i> Back
      <% end %>
    </div>

    <div class="yellow-box shadow col-md-8 p-5 mb-5 rounded-bottom-4 letter-bg d-flex flex-column align-items-center">
      <span class="hovertext" data-hover="Change your avatar">
        <%= link_to avatar_path do %>
          <%= user_avatar(current_user, width: 200)%>
        <% end %>
      </span>

      <div class="row text-center mt-2">
        <h1 class="text-primary"><%= @user.user_name %></h1>
      </div>

      <div class="row text-center mt-2">
        <h3><i class="fa-solid fa-envelope text-primary"></i> <%= @user.email %></h3>
      </div>

      <div class="row my-4">
        <h4 class="d-flex flex-row justify-content-center gap-2">
          <span>Receiving letters every</span>
          <span class= "info">
            <%= @user.receiving_day.first %>
          </span> at <span class= "info">
            <%= @user.receiving_time.strftime("%H:%Mh") %>
          </span>
        </h4>
      </div>

      <div class="row">
        <div class="d-flex flex-column justify-content-center gap-3 mt-4">
          <%= link_to "Edit my profile",edit_user_registration_path, class:"btn-main" %>
          <%= link_to "Change my receiving letter day",receiving_day_path, class:"btn-outline" %>
        </div>
      </div>
    </div>
  </div>
</div>
