<div class="bg-#fff3c9" style="min-height: 100vh">
  <div class="container-fluid py-5">
    <div class="row justify-content-center">
      <h1 class="mb-3 letter_title text-center pb-3">Write your letter below:</h1>
        <div class="card shadow col-md-8 p-5 letter-bg">

          <%= simple_form_for(@letter) do |f| %>

            <div class="form-inputs list-group-item" >
              <%= f.association :receiver,
              collection: User.where.not(id: current_user.id).order(:full_name),
               label_method: :full_name,
               include_hidden: false,
               include_blank: false %>
              <%= f.input :subject %>
              <%= "User will receive your letter X days at Y time" %>
              <%= f.input :content %>
              <%= f.input :photos, as: :file, input_html: { multiple: true } %>
            </div>
            <div class="form-actions justify">
              <%= f.submit "Send Letter", class: "btn-main" %>
              <%= link_to "Cancel", inbox_path, class: "btn-secondary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
