<div class="bg-bisque" style="min-height: 100vh">
  <div class="container-fluid py-5">
    <div class="row justify-content-center">
        <div class="card col-8 shadow p-4 letter-bg">
          <div class="container">
              <div class="d-flex justify-content-between align-items-center my-4">
                <h1 class="mb-0 letter_title">A letter from <%= @letter.user_id %></h1>
                  <div>
                    <%= link_to letter_path(@letter), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } do %>
                        <i class="far fa-trash-alt"></i>
                    <% end %>
                  </div>
                </div>
                <hr class="letter_spacer">
            <div class="container">
                    <div class="row v100">
                      <ul class="list-group list-group-flush mb-2">
                          <li class="list-group-item">Subject: <%=@letter.subject %></li>
                          <li class="list-group-item">Letter: <%= @letter.content %></li>
                      </ul>
                        <%# <% if @letter.photo.present? %>
                        <%# <%= cl_image_tag @letter.photo.key, height: 400, crop: :fill %>
                        <%# <% else %>
                        <%# <% end %>
                      </div>
                  </div>
                    <div class="row d-flex">
                      <div class="card-body">
                        <%= link_to "Reply this Letter", new_letter_path(@letter), class: "btn-main"%>
                        <%= link_to "Go back", inbox_path, class: "btn-secondary"%>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
